@tailwind base;
@tailwind components;
@tailwind utilities;

/* .title-ch-limit {
    --ch-limit: 8ch;
    max-width: var(--ch-limit);
} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;

}

img {
    border-radius: .5rem;
}